html, body {
    height: 100%; /* Garante que o html e o body ocupem 100% da altura */
    margin: 0; /* Remove a margem padrão */
    }
body {
        background-color:#0a0c0d; 
        display: flex; /* Usado para centralizar o conteúdo */
        flex-direction: column; /* Alinha os elementos em coluna */
        align-items: center; /* Centraliza horizontalmente */
        color: white; /* Cor do texto */
        font-family: 'Roboto', sans-serif; /* Define a fonte */
        font-size: 2em; /* Tamanho da fonte */
}

.header {
    text-align: center;
    font-size: 45px;
    margin-bottom: 20px; /* Espaçamento abaixo do cabeçalho */
    background-color: black;
}

#Logo {
    max-width: 76%; /* Garante que a imagem não ultrapasse a largura da tela */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 15px;
}

.Menu {
    background-color: black;
    position: fixed;
    right: 0;
    overflow: auto;
    border-radius: 1.5px;
    width: 120px;
    height: 100%;
    display: flex;
    flex-direction: column; /* Alinha os itens em coluna */
    align-items: center; /* Centraliza os itens */
}

.imagem-menu {
    width: 55%; /* Define a largura da imagem como 30% do contêiner */
    height: auto; /* Mantém a proporção da imagem */
    margin-bottom: 10px; /* Espaçamento entre as imagens */
    border-radius: 5px; /* Bordas arredondadas */
    transition: transform 0.2s;
    flex-grow: 1;
    flex-direction: column; /* Alinha os itens em coluna */
    align-items: center; /* Centraliza os itens */
    justify-content: center; /* Centraliza verticalmente */
    padding-left: 20px; /* Adiciona espaço à esquerda */
}
.imagem-lupa {
    width: 75%; /* Reduz a largura da imagem da lupa */
    height: auto; /* Mantém a proporção da imagem */
    margin-right: 5px; /* Espaçamento à direita da lupa */
    padding: 3px;
}
.lupa-container {
    display: flex; /* Usar flexbox para alinhar a lupa e a barra de pesquisa */
    align-items: center; /* Alinha verticalmente os itens */
    margin-bottom: 10px; /* Espaçamento abaixo do container */
}

.search-bar {
    width: 80px; /* Ajuste a largura da barra de pesquisa */
    padding: 5px; /* Espaçamento interno */
    margin-left: 9px; /* Espaçamento à esquerda da barra de pesquisa */
    border: none; /* Remove a borda padrão */
    border-radius: 5px; /* Bordas arredondadas */
    background-color: #333; /* Cor de fundo da barra */
    color: white; /* Cor do texto */
    font-size: 0.5em; /* Tamanho da fonte ajustado */
    text-align: center; /* Centraliza o texto */
}

.search-bar::placeholder {
    color: #aaa; /* Cor do texto do placeholder */
}

.imagem-menu:hover, .imagem-lupa:hover {
    transform: scale(1.05);
}

ul {
    list-style-type: none; /* Remove os marcadores da lista */
    padding: 0; /* Remove o padding padrão */
}

li {
    margin: 10px 0; /* Espaçamento entre os itens da lista */
}

.filmes-populares {
    width: 80%; /* Largura total */
    background-color: black; /* Fundo preto */
    color: white; /* Texto branco */
    padding: 20px; /* Espaçamento interno */
    text-align: center; /* Centraliza o texto */
    margin-top: 20px auto; /* Espaçamento acima da seção */
}

.filmes-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas */
    gap: 20px; /* Espaçamento entre os filmes */
    background-color: black;
}


.filme {
    width: calc(33.33% - 20px); /* Largura com margem */
    margin: 8px; /* Espaçamento entre os filmes */
    box-sizing: border-box; /* Inclui padding e border na largura total */
}
.filme p {
    margin-top: 10px; /* Espaçamento acima do título */
    text-align: center; /* Centraliza o texto */
    color: white; /* Cor do texto */
    background-color: black;
}
.cartaz {
    width: 150px; /* Largura dos cartazes */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 5px; /* Bordas arredondadas */
    transition: transform 0.2s; /* Efeito de transição */
    background-color: black;
}

.cartaz:hover {
    transform: scale(1.05); /* Aumenta o tamanho do cartaz ao passar o mouse */
}